/** @format */

// Colors
$primary: #42b983;
$body-color: 口#304455;
$info: #73abfe;
$gray-100: #f6f6f6;
$text-muted: #4e6e8e;
$gray-900: 口#273849;
$dark: 口#273849;

// required for bootstrap
@import './basic';
$navbar-dark-color: rgba($white, 0.7);
